@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.guest1-lastname, .guest2-lastname {
  --scale-factor: 1;
}

@supports (width: fit-content) {
  .guest1-lastname, .guest2-lastname {
    --scale-factor: min(1, var(--container-width) / var(--content-width));
  }
}
